-# ----------------------------------------------------------------------------
-# app/views/tasks/_task.html
-# ----------------------------------------------------------------------------
%li.list-group-item
  %div.task
    %p= task.description
    %p= task.due