-# ----------------------------------------------------------------------------
-# app/views/tasks/_task.html
-# ----------------------------------------------------------------------------
%li.list-group-item{ id: "task-#{task.id}" }
  %div.task
    %p= task.description
    %p= task.due.strftime('%m/%d/%y')   unless task.due.blank?
    -# %p= task.due.to_s(:rfc822)          unless task.due.blank?
    %div
      = link_to 'Edit', edit_task_path(task.id), data: { remote: true }