-# ----------------------------------------------------------------------------
-# app/views/tasks/index.html.haml
-# ----------------------------------------------------------------------------
%div.row
  %div.col-xs-12.col-sm-12.col-md-12.col-lg-12
    %h1 Text Area Example
  
%div.row
  %div.col-xs-6.col-sm-6.col-md-6.col-lg-6
    %h4 Add Task
    = render 'form'
    
  %div.col-xs-6.col-sm-6.col-md-6.col-lg-6
    %h4 My Tasks
    %label.invisible "hidden label to align tasks with task form"
    %ul.list-group
      - @tasks.each do |task|
        = render partial: 'task', locals: { task: task }