-# ----------------------------------------------------------------------------
-# app/views/tasks/index.html.haml
-# ----------------------------------------------------------------------------
%div.row
  %div.col-xs-12.col-sm-12.col-md-12.col-lg-12
  %h1 Text Area Example
  
%div.row
  %div.col-xs-6.col-sm-6.col-md-6.col-lg-6
    %h4 Add Task
  %div.col-xs-6.col-sm-6.col-md-6.col-lg-6
    %h4 List of tasks