-# ----------------------------------------------------------------------------
-# app/views/tasks/new.html.haml
-# ----------------------------------------------------------------------------
%div.row
  %div.col-xs-12.col-sm-12.col-md-12.col-lg-12
    %h1 Add New Task
    
%div.row
  %div.col-xs-6.col-sm-6.col-md-6.col-lg-6
    = render 'form'
  
  %div.col-xs-6.col-sm-6.col-md-6.col-lg-6
    &nbsp;